# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
############################
# Unity Desktop Build
############################

CampusTour.exe
CampusTour_Data/
CampusTour_BurstDebugInformation_DoNotShip/
MonoBleedingEdge/
D3D12/
UnityPlayer.dll
UnityCrashHandler64.exe
unity-app.reg

############################
# Backend Environment
############################

**/.env

############################
# Build folders
############################

**/dist/
**/build/

############################
# Node Modules
############################

**/node_modules/